<div class="root-container">
    <div class="nav-outer">
        <app-toolbar (sliderVisible) =  "showSlider($event)"></app-toolbar>
    </div>
    <div class="body-container">
        <app-slider #slider>
            <app-slider-tab *ngFor = "let nav of navs" [nav] = "nav">
                <div class="child add">{{nav.name}}</div>
            </app-slider-tab>
        </app-slider>
        <app-slider-parent>
            <app-page-content *ngFor= "let nav of navs" [ngSwitch] = 'nav.id' [index] = "nav.id">
                <app-add-book *ngSwitchCase = 'sliderPageTypes.ADD_BOOK'></app-add-book>
                <app-log-out  *ngSwitchCase =  'sliderPageTypes.LOG_OUT'></app-log-out>
                <app-history  *ngSwitchCase = 'sliderPageTypes.HISTORY'></app-history>
                <app-delete-multiple  *ngSwitchCase = 'sliderPageTypes.DELETE_MULTIPLE'></app-delete-multiple>
            </app-page-content>
        </app-slider-parent>
        <div class="p-relative">
            <app-notifier *ngIf="success">
                <div class   = "notify success-color">
                    <mat-icon>check_circle_outline</mat-icon>
                    <div class='p_l_03'>saved</div>
                </div>
            </app-notifier>
            
            <app-notifier *ngIf="failure">
                <div class="notify failure-color">	
                    <mat-icon>error_outline</mat-icon>
                    <div class="p_l_03">Error while saving last entry</div>
                </div>
            </app-notifier>
        </div>
        
        <div class="card-container">
            <ng-container *ngFor = "let book of savedBook">
                <div class="outer">
                    <app-ux-card [book]="book" (deleted)="deleteBook($event)" (edit)="updateRecord($event)"></app-ux-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>


