.card-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;;
}

.outer{
    flex-basis: 20%;
    overflow: hidden;
}

.p_l_03{
    padding-left: 0.3rem;
}

.p-relative{
    position: relative;
}

.notify{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 0.4rem;
    top: 0;
    right: 20px;
    height: 20px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.success-color{
    background-color: #5d9359;
}

.failure-color{
    background-color: #e42354;
}

.root-container{
    display: flex;
    flex-direction: column;
}