<div class="layout">
    <div class="header">

    </div>
    <div class="card-body">
         <img class="bg-img" src="/assets/images/pink-flowers.jpg">
         <div class="blurry"> 
             <div class="text">
                <div class="book-name">The Alchemist</div>
                <div class="author-name">Paulo Colheo</div>
                <div mat-mini-fab class="icon">
                    <mat-icon>file_copy</mat-icon>
                    <span class="copies">1</span>
                </div>
             </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>