<div class="layout">
    <div class="card-body">
        <div class="cover-image">
            <img class="bg-img" [src]="imgSrc">
        </div>
         <div> 
             <div class="text">
                <div class="book-name">{{Book.name}}</div>
                <div class="book-description">
                    <div class="author-name">{{Book.author}}</div>
                    <div class = "copies">{{Book.copies}}</div>
                </div>
                <div class="volume"> vol. {{Book.volume}}</div>
                <div class="icon-container">
                    <div mat-mini-fab class="icon">
                        <mat-icon class="font_20">edit</mat-icon>
                        <mat-icon class="font_20" (click) = "delete()">delete</mat-icon>
                    </div>
               </div>
        </div>
    </div>
</div>