<div class="layout">
    <div class="card-body">
        <div class="cover-image">
            <img class="bg-img" src="/assets/images/pink-flowers.jpg">
        </div>
         <div> 
             <div class="text">
                <div class="book-name">The Alchemist</div>
                <div class="book-description">
                    <div class="author-name">Paulo Colheo</div>
                    <div class = "copies">2</div>
                </div>
                <div class="volume"> vol. 1</div>
             </div>
        </div>
    </div>
</div>