.layout{
    display: flex;
    min-width: 250px;
    min-height: 300px;
    width: 250px;
    height: 300px;
    border: 1px #f3f0f08a solid;
    border-radius: 5%;
}


.bg-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 1px transparent;
    border-radius: 5%;
}

.card-body{
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
}

.cover-image{
    height: 230px;
}

.text{
    padding: 0.6rem 0.5rem 0rem .1rem;
}

.book-name{
    font-size: 14px;
    font-weight: 500;
}

.author-name{
    font-size: 12px;
    font-style: italic;
    color: rgb(47 39 39 / 58%);
    padding-right: 0.3rem;
}

.copies{
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    font-size: 12px;
    font-style: italic;
    color: rgba(47, 39, 39, 0.58);
    background: rgb(62 60 60 / 10%);
    border-radius: 33%;
}

.book-description{
    display: flex;
    flex-direction: row;
}

.volume{
    font-size: 12px;
    font-style: italic;
    color: rgb(47 39 39 / 58%);
    padding-right: 0.3rem;
}
