$app-color: black;
$label-color: rgba(0, 0, 0, 0.54);

mat-form-field {
  width: 100%;
}

.color-purple {
  color: $app-color;
}

.bg-purple {
  background: $app-color;
}

.box-shadow-0 {
  box-shadow: none;
  color: white;
}

.light-grey {
  color: $label-color;
}
