<div mat-dialog-title class="color-purple">Add Book</div>

<mat-dialog-content>
  <form #bookForm="ngForm" (ngSubmit)="addBook()">
    <div>
      <mat-form-field>
        <mat-label> Name: </mat-label>
        <input type="text" matInput [(ngModel)]="book.name" name="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label> Author: </mat-label>
        <input type="text" matInput [(ngModel)]="book.author" name="author" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label> Volume: </mat-label>
        <input type="text" matInput [(ngModel)]="book.volume" name="volume" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label> Copies: </mat-label>
        <input type="text" matInput [(ngModel)]="book.copies" name="copies" />
      </mat-form-field>
    </div>
    <div>
      <label class="light-grey"> Cover Photo: </label>
      <input
        class="upload-file"
        type="file"
        style="display: none"
        [(ngModel)]="book.file"
        (change)="setFileName($event)"
        name="file"
        appFileDirective
        #chooseFile
      />
      {{ fileName || "No file is choosen" }}
      <button
        mat-mini-fab
        type="button"
        class="bg-purple box-shadow-0"
        (click)="chooseFile.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ng-container *ngIf = "isUpdate;else addBookBttn">
    <button mat-button class="color-purple" (click)="updateBook()">Update</button>
  </ng-container>
</mat-dialog-actions>

<ng-template #addBookBttn>
      <button mat-button class="color-purple"  (click)="addBook()">Add</button>
</ng-template>

