<div class ="toolbar">
    <div>
        <mat-icon class="drawer text" (click)="openSlider()">reorder</mat-icon>
    </div>
    <div class="brand-design w-100">
        BOOK COLLECTION
    </div>
    <div class="nav w-100">
        <div>
            <a class="app-name text hover p-b-1">Books</a>
        </div>
        <div>
            <a class="favourites text hover p-b-1"> Favourite</a>
        </div>
        <div>
            <a class="Recents text"> <mat-icon>notifications_none</mat-icon> </a>
        </div>
        <div>
            <mat-icon class="search text">search</mat-icon>
        </div>
    </div>
</div>