<div class ="toolbar">
    <div>
        <mat-icon class="drawer text" (click)="openSlider()">reorder</mat-icon>
    </div>
    <div class="brand-design w-100">
        BOOK COLLECTION
    </div>
    <div class="nav w-100">
        <ng-container *ngFor = "let field of fields">
            <app-field [fieldName] = "field"> </app-field>
        </ng-container>
        <div>
            <a class="Recents text"> <mat-icon>notifications_none</mat-icon> </a>
        </div>
        <div>
            <mat-icon class="search text">search</mat-icon>
        </div>
    </div>
</div>